{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static '' %}images/icon.png" type="image/gif" sizes="16x16">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Blaxcut - Barbershop Website Template" name="description">
    <meta content="" name="keywords">
    <meta content="" name="author">
    <title>Barbershop</title>

    <link href="{% static '' %}css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
    <link href="{% static '' %}css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb">
    <link href="{% static '' %}css/plugins.css" rel="stylesheet" type="text/css">
    <link href="{% static '' %}css/style.css" rel="stylesheet" type="text/css">
    <link href="{% static '' %}css/coloring.css" rel="stylesheet" type="text/css">
    <!-- color scheme -->
    <link id="colors" href="{% static '' %}css/colors/scheme-01.css" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button data-mdb-collapse-init class="navbar-toggler" type="button" data-mdb-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled"
                    >Disabled</a
                    >
                </li>
            </ul>
            <form class="d-flex input-group w-auto">
                <input type="search" class="form-control" placeholder="Type query" aria-label="Search"/>
                <button data-mdb-ripple-init class="btn btn-outline-primary" type="button" data-mdb-ripple-color="dark">
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>

{% block content %}

{% endblock %}


<!-- Javascript Files
================================================== -->
<script src="{% static '' %}js/plugins.js"></script>
<script src="{% static '' %}js/designesia.js"></script>
<script src="{% static '' %}js/custom-marquee.js"></script>
</body>
</html>